<html>
  <head>
    <title>작물 이름을 확인해주세요</title>

    <meta charset="utf-8" />
    <meta authors="DATA_CAMPUS_KU_TEAM4" />
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-size.css')}} />
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-layout.css')}} />
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-presentation.css')}} />

  </head>

  
  <body>
    <br>
    <h1 class="lay">당신이 궁금한 작물은 무엇인가요? 아래 리스트에서 작물을 찾아보세요 ~ </h1>

    <table>
      
    	<th>
        <td></td>
      	<td>ㄱ</td>
      	<td>ㄴ</td>
      	<td>ㄷ</td>
      	<td>ㄹ</td>
      	<td>ㅁ</td>
      	<td>ㅂ</td>
      	<td>ㅅ</td>
      	<td>ㅇ</td>
      	<td>ㅈ</td>
      	<td>ㅊ</td>
      	<td>ㅋ</td>
      	<td>ㅌ</td>
      	<td>ㅍ</td>
      	<td>ㅎ</td>
    	</th>
    
      
    	<tr>
      <td></td>
      <td></td>
    	<td>가죽나무</td>
    	<td>냉이</td>
    	<td>다래</td>
    	<td>라임</td>
    	<td>마(산약)</td>
        
    	<td>바나나</td>
    	<td>사과</td>
    	<td>아로니아</td>
    	<td>자두</td>
    	<td>차</td>
        
    	<td>카네이션</td>
    	<td>토란</td>
    	<td>파</td>
    	<td>향미나리(파슬리)</td>
    	</tr>
      
  	<tr>
    <td></td>
    <td></td>
  	<td>가지</td>
  	<td>녹두</td>
  	<td>다채</td>
  	<td>라즈베리</td>
  	<td>마늘</td>
  	<td>바질</td>
  	<td>산딸기</td>
  	<td>아스파라가스</td>
  	<td>작두콩</td>
  	<td>차나무</td>
  	<td>케일</td>
  	<td>토마토</td>
  	<td>파세리(향미나리)</td>
  	<td>현사시나무(이태리포플러)</td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>감</td>
  	<td>느릅나무</td>
  	<td>다청채</td>
  	<td>레몬</td>
  	<td>마카</td>
  	<td>밤</td>
  	<td>산마늘(명이나물)</td>
  	<td>아스파라거스</td>
  	<td>조</td>
  	<td>차즈기</td>
  	<td>콩</td>
  	<td></td>
  	<td>파파야</td>
  	<td>형개</td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>감귤</td>
  	<td></td>
  	<td>단감</td>
  	<td>로케트(루꼴라)</td>
  	<td>만삼</td>
  	<td>방울다다기양배추</td>
  	<td>산수유</td>
  	<td>아욱</td>
  	<td>지치</td>
  	<td>착색단고추류</td>
  	<td></td>
  	<td></td>
  	<td>패션프루트</td>
  	<td>호두</td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>감자</td>
  	<td></td>
  	<td>단고추류</td>
  	<td></td>
  	<td>망고</td>
  	<td>방울토마토</td>
  	<td>살구</td>
  	<td>앤디브</td>
  	<td>지황</td>
  	<td>참깨</td>
  	<td></td>
  	<td></td>
  	<td>편백</td>
  	<td>호박</td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>감초</td>
  	<td></td>
  	<td>단풍나무</td>
  	<td></td>
  	<td>매실</td>
  	<td>배</td>
  	<td>삼채</td>
  	<td>앵두</td>
  	<td>쪽파</td>
  	<td>참다래(키위)</td>
  	<td></td>
  	<td></td>
  	<td>포도</td>
  	<td>황기</td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>갓</td>
  	<td></td>
  	<td>단호박</td>
  	<td></td>
  	<td>머루</td>
  	<td>배청채</td>
  	<td>삽주(백출)</td>
  	<td>양미나리(셀러리)</td>
  	<td></td>
  	<td>참두릅</td>
  	<td></td>
  	<td></td>
  	<td>플럼코트</td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>강낭콩</td>
  	<td></td>
  	<td>달래</td>
  	<td></td>
  	<td>머위</td>
  	<td>배초향(방아)</td>
  	<td>상추</td>
  	<td>양배추</td>
  	<td></td>
  	<td>참외</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>강활</td>
  	<td></td>
  	<td>담배</td>
  	<td></td>
  	<td>메밀</td>
  	<td>배추</td>
  	<td>생강</td>
  	<td>양버즘나무</td>
  	<td></td>
  	<td>채소류</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>갯개미자리(세발나물)</td>
  	<td></td>
  	<td>당귀(뿌리)</td>
  	<td></td>
  	<td>멜론</td>
  	<td>백수오(큰조롱)</td>
  	<td>석류</td>
  	<td>양상추</td>
  	<td></td>
  	<td>천궁</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>겨자채</td>
  	<td></td>
  	<td>당귀(잎)</td>
  	<td></td>
  	<td>모과</td>
  	<td>백지</td>
  	<td>수박</td>
  	<td>양앵두(체리)</td>
  	<td></td>
  	<td>청경채</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>경수채(교나)</td>
  	<td></td>
  	<td>당귀(잎,뿌리)</td>
  	<td></td>
  	<td>무</td>
  	<td>버즘나무</td>
  	<td>수수</td>
  	<td>양파</td>
  	<td></td>
  	<td>취나물</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>고구마</td>
  	<td></td>
  	<td>당근</td>
  	<td></td>
  	<td>무화과</td>
  	<td>벼</td>
  	<td>순무</td>
  	<td>어수리</td>
  	<td></td>
  	<td>치커리</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>고들빼기</td>
  	<td></td>
  	<td>대추</td>
  	<td></td>
  	<td>미나리</td>
  	<td>보리</td>
  	<td>순무양배추(콜라비)</td>
  	<td>여주</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>고려엉겅퀴(곤드레나물)</td>
  	<td></td>
  	<td>더덕</td>
  	<td></td>
  	<td>민트류</td>
  	<td>복분자</td>
  	<td>시금치</td>
  	<td>열무</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>고본</td>
  	<td></td>
  	<td>도라지</td>
  	<td></td>
  	<td>밀</td>
  	<td>복숭아</td>
  	<td>신선초</td>
  	<td>엽경채</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>고수</td>
  	<td></td>
  	<td>돌나물</td>
  	<td></td>
  	<td></td>
  	<td>부추</td>
  	<td>심비디움</td>
  	<td>오렌지</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>고추</td>
  	<td></td>
  	<td>두릅</td>
  	<td></td>
  	<td></td>
  	<td>브로콜리</td>
  	<td>쌈추</td>
  	<td>오미자</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>고추(잎)</td>
  	<td></td>
  	<td>두릅나무</td>
  	<td></td>
  	<td></td>
  	<td>블랙베리</td>
  	<td>쑥</td>
  	<td>오이</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>고추냉이</td>
  	<td></td>
  	<td>둥굴레</td>
  	<td></td>
  	<td></td>
  	<td>블루베리</td>
  	<td>쑥갓</td>
  	<td>옥수수</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>곤달비</td>
  	<td></td>
  	<td>들깨(씨)</td>
  	<td></td>
  	<td></td>
  	<td>비름</td>
  	<td></td>
  	<td>완두</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>공심채</td>
  	<td></td>
  	<td>들깨(잎)</td>
  	<td></td>
  	<td></td>
  	<td>비트</td>
  	<td></td>
  	<td>용과</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>관엽류</td>
  	<td></td>
  	<td>들깨(종실)</td>
  	<td></td>
  	<td></td>
  	<td>비파</td>
  	<td></td>
  	<td>우엉</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>구기자</td>
  	<td></td>
  	<td>딸기</td>
  	<td></td>
  	<td></td>
  	<td>뽕나무(오디)</td>
  	<td></td>
  	<td>유자</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>귀리</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td>율무</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>근대</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td>이팝나무</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>근채류</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td>익소라</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>금감(금귤)</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td>인삼</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>기장</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td>잇꽃(홍화)</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td></td>
      <td></td>
  	<td>꽃양배추</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
      
  	<tr>
      <td>  </td>
      <td></td>
  	<td>꽃양배추(잎)</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
  	<td></td>
	  </tr>
</table>
   
    
  </body>
</html>