<!DOCTYPE HTML>
<html>
  
  <head>
    <script src="https://kit.fontawesome.com/1c67e0a174.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta authors="DATA_CAMPUS_KU_TEAM4" />
    <meta name="viewport" content="width=device-width">
    <title>Welcome Farm protector!</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-size.css')}} />
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-layout.css')}} />
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-presentation.css')}} />
    
  </head>
  
  <body>
  
    <div class="wrap">
      <header>
        <a id="logo" href="http://localhost:5000/"> <i id="logo2" class="fa-solid fa-bugs"></i> 작물지킴이 <i id="logo3" class="fa-solid fa-leaf"> </i> </a>
        
      </header>
  
      <nav>
        <ul>
          <li><a class="size" href="http://localhost:5000/we_do" target="display_area">우리가 하는 일은</a></li>
          <li><a class="size" href="http://localhost:5000/we_are" target="display_area">우리는</a></li>
          <li><a class="size" href="http://localhost:5000/our_service" target="display_area">우리의 서비스는</a></li>
          <li class="right"><a class="size" href="http://localhost:5000/contact" target="display_area">CONTACT US</a></li>
        </ul>
      </nav>
  
      <hr />
  
      <article class="left">
        <iframe id="background" name="display_area" width="600px" height="500px"></iframe>
      </article>

      <aside class="right">
        <h2> 바로가기 </h2>
        <br/>
        <a class= 'side' style="width:100px" href="https://www.rda.go.kr/main/mainPage.do"> > 농촌진흥청</a>
        
        <br/>
        <br/>
        
        <a class= 'side' href="https://ncpms.rda.go.kr/npms/Main.np"> > 국가농작물병해충</a>
        
        <br/>
        <br/>
        
        <a class= 'side' href="https://psis.rda.go.kr/psis/agc/res/agchmRegistStusLst.ps"> > 농약안전정보시스템</a>

      </aside>
  
      <hr />
  
      <footer>
        <div id="copyright">
          Copyright (c) 2022 Farm Protector Inc. All rights reserved
        </div>
        <div id="SNS";>
          
          <a href="http://facebook.com" target="_blank">
            <i class="fa-brands fa-facebook-f fa-3x"></i>
          </a>
          
          <a href="http://twitter.com" target="_blank">
            <i class="fa-brands fa-twitter fa-3x"></i>
          </a>
          
          <a href="http://instagram.com" target="_blank">
            <i class="fa-brands fa-instagram fa-3x"></i>
          </a>
         
        </div>
      </footer>
    </div>
  </body>

</html>