<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="utf-8" />
    <meta authors="DATA_CAMPUS_KU_TEAM4" />
    <meta name="viewport" content="width=device-width">
    <title>Welcome Farm protector!</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-size.css')}} />
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-layout.css')}} />
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-presentation.css')}} />
  
  </head>

  <body>
    <iframe src={{url_for('static',filename='intro1.pdf')}} width="600px" height="500px">
    </iframe>
  </body>

</html>
