<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta authors="DATA_CAMPUS_KU_TEAM4" />
  <meta name="viewport" content="width=device-width">
  <title>Welcome Farm protector!</title>
  <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-size.css')}} />
  <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-layout.css')}} />
  <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-presentation.css')}} />
</head>



<body class="peoplelist">
  <div class="head">만든 이들을 소개합니다 !</div>
  <ul>
    <li> <img src={{url_for('static',filename='_knr.png')}} /><br />
      김누리 <br /> 역할 | 백엔드
    </li>
    <li> <img src={{url_for('static',filename='_ssw.png')}} /><br />
      서수원 <br /> 역할 | 모델 - few shot
    </li>
    <li> <img src={{url_for('static',filename='_sya.png')}} /><br />
      송윤아 <br /> 역할 | 모델 - DA
    </li>
    <li> <img src={{url_for('static',filename='_ajm.png')}} /><br />
      안정민 <br /> 역할 | 프론트엔드
    </li>
    <li> <img src={{url_for('static',filename='_lcm.png')}} /><br />
      임채명 <br /> 역할 | 모델 - TL
    </li>
    <li> <img src={{url_for('static',filename='_jse.png')}} /><br />
      장세음 <br /> 역할 | 백엔드
    </li>
  </ul>
</body>

</html>