<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta authors="DATA_CAMPUS_KU_TEAM4" />
  <meta name="viewport" content="width=device-width">
  <title>Welcome Farm protector!</title>
  <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-size.css')}} />
  <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-layout.css')}} />
  <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style-presentation.css')}} />
</head>

<body class="service">
  <br />
  <br />
  <form action="/test"
        method="POST"
        enctype="multipart/form-data"
  >
    <fieldset>
      <legend id="service"> 고객님의 농장 상태를 입력해주세요. </legend>
      <br />
      <span> 이 름 </span> <input type="text"> </br>
      <span> 이 메 일 </span> <input type="email"> </br>

      <span> 작물 분야 </span>
      <label> 채소류
        <input type="checkbox" value="class" name="채소">
      </label>
      <label> 과실류
        <input type="checkbox" value="class" name="과일">
      </label>
      <label> 곡식류
        <input type="checkbox" value="class" name="곡식">
      </label>
      <label> 기타
        <input type="checkbox" value="class" name="기타">
      </label>
      <br />
      <br />


      <span> 피해 상태 </span>
      <label> 상
        <input type="checkbox" value="plant" name="상">
      </label>
      <label> 중
        <input type="checkbox" value="plant" name="중">
      </label>
      <label> 하
        <input type="checkbox" value="plant" name="하">
      </label>
      <br />
      <br />
    </fieldset>
    <br />
    <br />
    <h2>확인하고 싶은 해충을 사진을 넣어주세요 ! </h2>
   
    파일 업로드하기
    <br>
    <p><input type="file" name="myfile"> </p>
    <br />


    <hr>
    <input type="reset" value="취소" />
    <input type="submit" value="보내기" />

  </form>
</body>

</html>