.wrap { width:715px; min-height:600px; }

header { height: 80px; }

nav { width: 715px; }
    
nav a { height:20px; }

footer { height:70px; }

#order table td, th{ width: 150px; height: 30px; }

.peoplelist { height: 462px; }

.peoplelist ul li img{ 
  width: 150px; 
  height: 150px; 
}
