body { background-color: gray; font-size: 0.75em; line-height: 1.2em; }

.wrap { text-align:left; background-color: white; }

a { text-decoration: none; }

#logo { color: #008a30; font-size: 48px; }

header .right a:hover { color: gray; }

input { color:blue; }

nav { background-color: #fdff85; }
    
nav ul { list-style:none; font-family: Verdana, Geneva, sans-serif; font-size: 14px;
    font-weight: bold; color: #ff0099;
}

nav a { text-decoration:none; color:#000000; border-style: hidden hidden solid hidden;
    border-color: transparent;
}

nav a:hover { color:#2b4480;    border-color: #fff700; }

footer #copyright { font-family: consolas; } 

footer #SNS a { text-decoration: none; }


.peoplelist { 
  font-family: arial; 
  background-color: #f0f0f0;
  background-image: url(./images/cloud.jpg);   
  background-repeat: no-repeat;
	background-position: 0px 0px;	
  border:solid 3px #007523; 
  border-radius:10px;
}

.peoplelist .head { 
  font-size: 16px; 
  font-weight: bolder; 
}

.peoplelist ul li { 
  font-size: 12px; 
  list-style-type: none; 
}

.peoplelist ul li img { 
  border: solid; 
  border-color: lightgray; 
  border-width: 1px; 
}

#service { 
  color: #c9eed6; 
  font-size: 20px; 
}

span {}